
@{
    ViewBag.Title = "Error";
}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("New", "New", "RegisterManagement")</li>
        <li>@Html.ActionLink("Show Available Registers", "ShowAvailableRegisters", "RegisterManagement")</li>
        <li>@Html.ActionLink("Show assigned Registers", "ShowAssignedRegisters", "RegisterManagement")</li>

    </ul>


</div>

<h2>There are no registers in the database</h2>

