
@{
    ViewBag.Title = "Index";
}




<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("New", "New", "RegisterManagement")</li>
        <li>@Html.ActionLink("Show Available Registers", "ShowAvailableRegisters", "RegisterManagement")</li>
        <li>@Html.ActionLink("Show assigned Registers", "ShowAssignedRegisters", "RegisterManagement")</li>
        
    </ul>
    

</div>
<h2>Click menu-option to begin</h2>
 